/*
 * 呼入、短信、咨询、转移等工具条部分
 */

.upper-header {
	background-position: 0 0;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	border-right-width: 0;
	display:inline-block;
	vertical-align:middle;
}
.upper-header > ul > li {
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	float: left;
	height: 45px;
	list-style: none outside none;
}
.upper-header > ul > li.last {
	/*border-right: 0px;*/
}
.upper-header > ul > li.categories.disabled{
	cursor:default;
}
.upper-header > ul > li.categories.disabled > a{
	color: #999;
	cursor:default;
}
.upper-header > ul > li.categories > a {
	color: #454E5B;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	width: 75px;
	text-decoration: none;
	text-align:center;
}

.upper-header > ul > li.categories.selected {
	background-color: #858795;
}
.upper-header > ul > li.categories.selected a {
	background-color: #858795;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
