<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>print PAGE</title>
	<link href="../../KJAF/css/main.css" rel="stylesheet" type="text/css">
<script language="javascript">
//把页面内容导出为excel
function excelPrint(){

}
/*window.onload=function(){
	alert('print load!');
}*/
</script>
</head>
<body>
<form name="printFrm" id="printFrm" method="post" action="../../exportdata.down" target="_blank">
  <input type="text" name="tblcls" id="tblcls" value=""/>
  <input type="text" name="type" id="type" value=""/>
  <input type="text" name="bex" id="bex" value=""/>
  <input type="text" name="confid" id="confid" value=""/>
  <textarea name="dataconf" id="dataconf"></textarea>
  <textarea name="params" id="params"></textarea>
</form>
</body>
</html>
