<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>上传测试</title>
	<script src="../../KJAF/include.js" type="text/javascript"></script>
<script>
enterFile.count = 0;
function enterFile(){
	enterFile.count++;
	var fm = $('#upForm');
	var fileInpt = $('input[type="file"]');
	var val = $('input[type="file"]:first').val();
	fileInpt.hide();
	$('#fileList').append('<li>'+val+'</li>');
	var newFileInpt = $('<input type="file" name="upFiles['+enterFile.count+'].file" onchange="enterFile()">');
	fm.prepend(newFileInpt);
}
</script>
</head>
<body>
<form name="upForm" target="hideFrame" id="upForm" action="/import.do" method="post" ENCTYPE="multipart/form-data">
<input id="d1" name="moduleId" type="hidden" value="1" /><br/>
<input id="file1" name="upFiles[0].file" type="file" onchange="enterFile()" /><br/>
	<ul id="fileList"></ul>
	<input type="submit" value="提交" />
	<iframe name="hideFrame" id="hideFrame" width="500" height="200"></iframe>
</form>
</body>
</html>