<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 请参考Cron表达式 .
    <task:scheduled-tasks>
        <task:scheduled ref="taskDemoServiceImpl" method="test" cron="0 0/5 14 * * ?" />
    </task:scheduled-tasks>
      -->
</beans>
