<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
    <context:component-scan base-package="com.ssm.controller"/>

    <!-- Spring MVC JSON配置 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean id="fastJsonHttpMessageConverter" class="com.ssm.utils.FastJsonHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                            <!-- 避免IE出现下载JSON文件的情况 -->
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- 定义文件上传处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="UTF-8"/>

    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/"
          p:suffix=".jsp"/>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ssm.framework.interceptors.SecurityInterceptor">
                <!-- 不需要权限验证的地址 -->
                <property name="excludeUrls">
                    <list>
                        <value>/resource/tree</value>
                        <!-- 首页左侧功能菜单 -->
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- Aop日志类 -->
    <bean id="LogInterceptor" class="com.ssm.framework.interceptors.LogInterceptor"></bean>

    <!-- 配置日志拦截器 -->
    <!--
    配置日志拦截器，使用Aop记录日志
    注意:
        1). 此处proxy-target-class="true" 否则Action内的参数会被拦截掉,导致action内无法获得前台传递的参数
        2). Action需交给spring容器去管理
    -->
    <aop:config expose-proxy="true" proxy-target-class="true">
        <aop:aspect id="aopRiZhiAspect" ref="LogInterceptor">
            <!-- 对哪些方法进行日志记录, 此处屏蔽action内的set get方法 -->
            <aop:pointcut id="logService"
                          expression="(execution(* com.ssm.controller..*.*(..) )
                          and (!execution(* com.ssm.controller..*.set*(..)) )
                          and (!execution(* com.ssm.controller..*.get*(..)))
                          and (!execution(* com.ssm.controller..*.initBinder*(..))))"/>

            <aop:before pointcut-ref="logService" method="doBefore"/>
            <aop:after pointcut-ref="logService" method="doAfter"/>
            <aop:around pointcut-ref="logService" method="doAround"/>
        </aop:aspect>
    </aop:config>

    <!-- 事物的具体内容-->
    <!--<tx:advice id="transactionAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="add*" propagation="REQUIRED" />-->
            <!--<tx:method name="append*" propagation="REQUIRED" />-->
            <!--<tx:method name="insert*" propagation="REQUIRED" />-->
            <!--<tx:method name="save*" propagation="REQUIRED" />-->
            <!--<tx:method name="update*" propagation="REQUIRED" />-->
            <!--<tx:method name="modify*" propagation="REQUIRED" />-->
            <!--<tx:method name="edit*" propagation="REQUIRED" />-->
            <!--<tx:method name="delete*" propagation="REQUIRED" />-->
            <!--<tx:method name="remove*" propagation="REQUIRED" />-->
            <!--<tx:method name="repair" propagation="REQUIRED" />-->
            <!--<tx:method name="delAndRepair" propagation="REQUIRED" />-->


            <!--<tx:method name="get*" propagation="SUPPORTS" />-->
            <!--<tx:method name="find*" propagation="SUPPORTS" />-->
            <!--<tx:method name="load*" propagation="SUPPORTS" />-->
            <!--<tx:method name="search*" propagation="SUPPORTS" />-->
            <!--<tx:method name="datagrid*" propagation="SUPPORTS" />-->

            <!--<tx:method name="*" propagation="SUPPORTS" />-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

</beans>
