<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.IDao.sys.TdictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.sys.Tdictionary" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TEXT" property="text" jdbcType="VARCHAR" />
    <result column="DICTIONARYTYPE_ID" property="dictionarytypeId" jdbcType="DECIMAL" />
    <result column="SEQ" property="seq" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="ISDEFAULT" property="isdefault" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, TEXT, DICTIONARYTYPE_ID, SEQ, STATE, ISDEFAULT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_DICTIONARY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_DICTIONARY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ssm.model.sys.Tdictionary" >
    insert into SYS_DICTIONARY (ID, CODE, TEXT, 
      DICTIONARYTYPE_ID, SEQ, STATE, 
      ISDEFAULT)
    values (#{id,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{dictionarytypeId,jdbcType=DECIMAL}, #{seq,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{isdefault,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.sys.Tdictionary" >
    insert into SYS_DICTIONARY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="text != null" >
        TEXT,
      </if>
      <if test="dictionarytypeId != null" >
        DICTIONARYTYPE_ID,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="isdefault != null" >
        ISDEFAULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="dictionarytypeId != null" >
        #{dictionarytypeId,jdbcType=DECIMAL},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.sys.Tdictionary" >
    update SYS_DICTIONARY
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        TEXT = #{text,jdbcType=VARCHAR},
      </if>
      <if test="dictionarytypeId != null" >
        DICTIONARYTYPE_ID = #{dictionarytypeId,jdbcType=DECIMAL},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="isdefault != null" >
        ISDEFAULT = #{isdefault,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.sys.Tdictionary" >
    update SYS_DICTIONARY
    set CODE = #{code,jdbcType=VARCHAR},
      TEXT = #{text,jdbcType=VARCHAR},
      DICTIONARYTYPE_ID = #{dictionarytypeId,jdbcType=DECIMAL},
      SEQ = #{seq,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      ISDEFAULT = #{isdefault,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>