@charset "utf-8";
body{
	background:#e7eff1;
	}
.disposeTable{
	width:640;
	margin:0px auto;
	}
.disposeTd{
	width:126px;
	}
.disposeBox{
	font-size:12px;
	width:126px;
	height:176px;
	color:#444444;
	background:url(../images/flowchart/disposeBg.png) no-repeat;
	}
.disposeBox .statusPic1{
	background:url(../images/flowchart/disposeHead1.png) no-repeat center ;
	width:110px;
	height:55px;
	margin:0px auto;
	}
.disposeBox .statusPic2{
	background:url(../images/flowchart/disposeHead2.png) no-repeat center ;
	width:110px;
	height:55px;
	margin:0px auto;
	}
.disposeBox .statusPic3{
	background:url(../images/flowchart/disposeHead3.png) no-repeat center ;
	width:110px;
	height:55px;
	margin:0px auto;
	}
.disposeBox .disposeContent{
	height:22px;
	border-bottom:1px solid #c9c6c6;
	width:110px;
	line-height:22px;
	margin:0px auto;
	}
.disposeMarkRight{
	width:40px;
	background:url(../images/flowchart/disposeMarkRight.png) no-repeat center;
	}
.disposeMarkLeft{
	width:40px;
	background:url(../images/flowchart/disposeMarkLeft.png) no-repeat center;
	}
.disposeMarkUp{
	height:40px;
	background:url(../images/flowchart/disposeMarkUp.png) no-repeat center;
	}
.disposeMarkDown{
	height:40px;
	background:url(../images/flowchart/disposeMarkDown.png) no-repeat center;
	}